.file-uploader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.styled-file-input {
  font-weight: bold;
  padding: 10px;
  background-color: #e3f2fd;
  border: 2px solid #6021f3;
  border-radius: 6px;
  cursor: pointer;
  color: #590da1;
}

.styled-file-input::file-selector-button {
  padding: 8px 16px;
  background-color: #9521f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.styled-file-input::file-selector-button:hover {
  background-color: #7f19d2;
}
